<%= form_with(model: investment, local: true) do |form| %>
  <% if investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
        <% investment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_id %>
    <%= form.text_field :part_id %>
  </div>

  <div class="field">
    <%= form.label :movement_date %>
    <%= form.datetime_select :movement_date %>
  </div>

  <div class="field">
    <%= form.label :movement_type %>
    <%= form.number_field :movement_type %>
  </div>

  <div class="field">
    <%= form.label :movement_value %>
    <%= form.text_field :movement_value %>
  </div>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.text_field :portfolio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
