<p id="notice"><%= notice %></p>

<h1>Investments</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Movement date</th>
      <th>Movement type</th>
      <th>Movement value</th>
      <th>Portfolio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.part_id %></td>
        <td><%= investment.movement_date %></td>
        <td><%= investment.movement_type %></td>
        <td><%= investment.movement_value %></td>
        <td><%= investment.portfolio_id %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
