<p id="notice"><%= notice %></p>

<p>
  <strong>Fondo:</strong>
  <%= @part.fondo_id %>
</p>

<p>
  <strong>Codigo participaciones:</strong>
  <%= @part.codigo_participaciones %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
