<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table>
  <thead>
    <tr>
      <th>Nombre Adminsitradora</th>
      <th>Tipo Adminsitradora</th>
      <th>Codigo Administradora</th>
      <th>Nombre Fondo</th>
      <th>Codigo Fondo</th>
      <th>Codigo Participacion</th>
      <th>Agregar a mis favoritos</th>
      <th>Agregar a mis portafolios</th>

    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.admin.nombre_admin %></td>
        <td><%= part.admin.tipo_admin %></td>
        <td><%= part.admin.codigo_admin %></td>
        <td><%= part.fondo.nombre_fondo %></td>
        <td><%= part.fondo.codigo_fondo %></td>
        <td><%= part.codigo_participaciones %></td>
        <td>
          <button class="btn btn-outline-primary">
            Agregar esta participacion (<%= part.codigo_participaciones %>) a mis favoritos
          </button>
        </td>
        <td>
          <button class="btn btn-outline-primary">
            Agregar esta participacion (<%= part.codigo_participaciones %>) a mis portafolios
          </button>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_admin_path %>
