<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user_id %>
</p>

<p>
  <strong>Nombre portafolio:</strong>
  <%= @portfolio.nombre_portafolio %>
</p>

<p>
  <strong>Descripcion portafolio:</strong>
  <%= @portfolio.descripcion_portafolio %>
</p>

<p>
  <strong>Investments count:</strong>
  <%= @portfolio.investments_count %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
