<p id="notice"><%= notice %></p>

<h1>Fondos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre fondo</th>
      <th>Admin</th>
      <th>Tipo fondo</th>
      <th>Codigo tipo fondo</th>
      <th>Codigo fondo</th>
      <th>Tipo participaciones count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fondos.each do |fondo| %>
      <tr>
        <td><%= fondo.nombre_fondo %></td>
        <td><%= fondo.admin_id %></td>
        <td><%= fondo.tipo_fondo %></td>
        <td><%= fondo.codigo_tipo_fondo %></td>
        <td><%= fondo.codigo_fondo %></td>
        <td><%= fondo.tipo_participaciones_count %></td>
        <td><%= link_to 'Show', fondo %></td>
        <td><%= link_to 'Edit', edit_fondo_path(fondo) %></td>
        <td><%= link_to 'Destroy', fondo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fondo', new_fondo_path %>
