<p id="notice"><%= notice %></p>

<h1>Favoritos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Administradora</th>
      <th>Fondo</th>
      <th>Tipo participacion</th>
      <th>Valor del fondo</th>
      <th>Valor de la unidad</th>
      <th>Eliminar favorito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favoritos.each do |favorito| %>
      <tr>
        <td><%= favorito.part.admin.nombre_admin %></td>
        <td><%= favorito.part.fondo.nombre_fondo %></td>
        <td><%= favorito.part.codigo_participaciones %></td>
        <td><%= favorito.part.value.valor_unidad %></td>
        <td><%= link_to 'Show', favorito %></td>
        <td><%= button_to 'Destroy', favorito, method: :delete, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorito', new_favorito_path %>
