<%= form_with(model: investmentspart, local: true) do |form| %>
  <% if investmentspart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investmentspart.errors.count, "error") %> prohibited this investmentspart from being saved:</h2>

      <ul>
        <% investmentspart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_id %>
    <%= form.text_field :part_id %>
  </div>

  <div class="field">
    <%= form.label :investment_id %>
    <%= form.text_field :investment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
