<p id="notice"><%= notice %></p>

<h1>Investmentsparts</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Investment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investmentsparts.each do |investmentspart| %>
      <tr>
        <td><%= investmentspart.part_id %></td>
        <td><%= investmentspart.investment_id %></td>
        <td><%= link_to 'Show', investmentspart %></td>
        <td><%= link_to 'Edit', edit_investmentspart_path(investmentspart) %></td>
        <td><%= link_to 'Destroy', investmentspart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investmentspart', new_investmentspart_path %>
